.posts {
	color: #5cb85c;
	font-weight: bolder;
}
.users {
	font-size: 1.3em;
	font-weight: bolder;
}
#ideas_button {
	margin-right: 10px
}
.content {
	color: #5cb85c;
}
table, thead, th, td {
	text-align: center;
}