body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar-btn {
	float: right;
}
strong {
	color: #5cb85c;
}
div .starter-template form {
	display: inline-block;
}